/*
 * Base structure
 */

html,
body {
  height: 100%;
}

.site-background {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: url("../img/bg-xs.jpg") no-repeat center center transparent;
  background-size: cover;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  transform: translate3d(0,0,0);
}

@media (min-width: 768px) {
  .site-background {
    background: url("../img/bg.jpg") no-repeat center center transparent;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.site-container {
  margin: auto auto;
}

.site-section {
  width: 100%;
  padding: 5px 0px;
}

.site-section + .site-section {
  padding-top: 0px;
}

.site-section:first-child {
  padding-bottom: 0px;
}

@media (min-width: 768px) {
  .site-section {
    padding: 10px 0px;
  }
  .site-section:nth-child(2) {
    padding-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .site-section {
    padding: 10px 0px;
  }
  .site-section:nth-child(2) {
    padding-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .site-container {
    width: 1200px;
  }
}

.serif {
  font-family: Georgia, serif;
}

/*
 * Header
 */

.jumbotron {
  margin-bottom: 0;
  background-color: #fff; 
  color: #3C6478;
  text-align: center;
  padding: 10px 15px;
}

@media (min-width:768px){
  .jumbotron {
    padding: 20px 20px;
  }
}

/*
 * Carousel
 */

.carousel {
  background-color: #000;
}

.carousel .item {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  max-height: 350px;
  height: 100%;
  width: 100%;
  aspect-ratio: 1018/350; /* Maintains a 16:9 aspect ratio */
}

.carousel-inner > .item > img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
  object-position: center; /* Centers the image within the area */
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.2) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.2) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

/*
 * Navigation
 */

.mastnav {
  padding: 0;
  box-shadow: none;
  border-top: 0;
}

.mastnav-toggle,
.mastnav-nav {
  width: 100%;
}

.mastnav-toggle > li,
.mastnav-nav > li {
  display: table-line;
  width: 100%;
  float: none;
  white-space: nowrap;
}

@media (min-width: 768px){
  .mastnav-toggle {
    display: none;
  }
  .mastnav-nav > li {
    display: table-cell;
    width: 1%;
  }
}

.mastnav-toggle > li > a,
.mastnav-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mastnav-nav > li > a {
  color: #fff; 
  background-color: #000;
}
.mastnav-nav > li > a:hover,
.mastnav-nav > li > a:focus {
  color: #000;
  background-color: rgba(255,255,255,.9);
}
.mastnav-nav > .active > a,
.mastnav-nav > .active > a:hover,
.mastnav-nav > .active > a:focus {
  color: #000;
  background-color: rgba(255,255,255,.8);
  cursor: pointer;
}

.mastnav-toggle > li > a,
.mastnav-toggle > li > a:hover,
.mastnav-toggle > li > a:focus {
  color: #fff;
  background-color: #000;
  padding: 15px 10px;
}

.mastnav-nav > li > .null-link,
.mastnav-nav > li > .null-link:hover,
.mastnav-nav > li > .null-link:focus {
  cursor: not-allowed;
  color: #555;
  background-color: #000;
}


@media (min-width:768px){
  .mastnav-nav > li > p,
  .mastnav-nav > li > a {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .mastnav-nav > li > p,
  .mastnav-nav > li > a {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .mastnav-nav > li > p,
  .mastnav-nav > li > a {
    font-size: 26px;
  }
}

@media (max-width:767px){
  .mastnav-nav > li > a {
    background-color: rgba(0,0,0,.8);
  }

  .mastnav-nav > li > .null-link,
  .mastnav-nav > li > .null-link:hover,
  .mastnav-nav > li > .null-link:focus {
    background-color: rgba(0,0,0,.8);
  }
}

.collapsing {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}


/*
 * Body
 */

.mastbody {
  padding: 1px 10px;
  color: #000000;
  background-color: rgba(255,255,255,.9);
}

.mastbody + .mastbody {
  margin-top: 5px;
}

@media (min-width:768px){
  .mastbody + .mastbody {
    margin-top: 10px;
  }
}

.mastbody-white {
  background-color: rgba(255,255,255,0.9);
}
.mastbody-black {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}
.mastbody-grey {
  background-color: rgba(225,225,225,.9);
  color: #000;
}
.mastbody-trans {
  background-color: transparent;
}
.mastbody-center {
  text-align: center;
}

.mastbody-text {
  padding: 1px 10px;
}


@media (max-width:767px){
  .mastbody h1,
  .mastbody-white h1 {
    font-size: 22px;
  }
  .mastbody h2 {
    font-size: 18px;
  }
}

.table-journal > tbody > tr > td:first-child {
  text-align: center;
  border-right-width: 0px;
}
.table-journal > tbody > tr > td:nth-child(2) {
  border-left-width: 0px;
  vertical-align: middle;
}
.img-journal {
  background-color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=90);
  width: 120px;
}

.badge {
  vertical-align: top;
  margin-top: 5px;
}

.btn-custom {
  background-color: transparent;
  border-color: #000;
  color: #000;
}
.btn-custom2 a {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  margin-bottom: 10px;
}
.btn-custom2 a:hover,
.btn-custom2 a:focus {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}
.btn-custom:hover,
.btn-custom:focus {
  background-color: #000;
  border-color: #000;
  color: #fff;
}


@media (max-width: 480px) {
  .btn-size {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

@media (min-width: 481px) {
  .btn-size {
    margin-top: 30px;
  }
}

.gallery {
  margin: 0px;
}

.gallery-left, 
.gallery-right {
    padding: 0px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
  .gallery-left {
    padding-left: 0px;
    padding-right: 5px;
  }

  .gallery-right {
    padding-left: 5px;
    padding-right: 0px;
  }
}

#map {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: 50% 50%;
}

#map-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: transparent;
}





.nopad {
  padding: 0px;
}

.srow {
  display: table;
  width: 100%;
  padding: 5px 5px;
}

.scol {
  float: none;
  display: table-cell;
  text-align: center;
  width: 25%;
  color: #000;
}

.btn-keynote,
.btn-keynote:hover {
  background-color: transparent;
  border-color: #000;
  color: #000;
  width: 80%;
}

.scol > .lead {
  margin-bottom: 10px;
}

.scol > .img-speaker {
  opacity: 0.9;
  filter: alpha(opacity=90);
  max-width: 100%;
  padding: 0px 5px;
}

.srow > a:hover {
  text-decoration: none;
  color: #000;
  background-color: transparent;
  border-right-width: 0px;
}
.srow > .active > .img-speaker,
.srow > a:hover > .img-speaker {
  opacity: 1;
  filter: alpha(opacity=100);
}
.srow > .active > .btn-keynote,
.srow > a:hover > .btn-keynote {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.srow > .active,
.srow > .active:hover,
.srow > .active:focus,
.srow > a:focus {
  text-decoration: none;
  color: #000;
  background-color: transparent;
}

.placeholder{ 
}

.krow {
  display: table;
  width: 100%;
}

.kcol {
  float: none;
  display: table-cell;
  text-align: center;
  color: #000;
}

.kcol > .img-speaker {
  max-width: 100%;
}

.krow > .kcol-i {
  width: 30%;
}
.krow > .kcol-t {
  width: 70%;
}
.krow > .kcol {
  vertical-align: middle;
}

.kcol h2 {
  font-size: 16px;
  margin-top: 10px;
}
.kcol .lead {
  font-size: 14px;
  margin-bottom: 10px;
}
.kcol > p > a {
  font-size: 14px;
}
.kcol:first-child{
  padding: 0px;
}
.kcol:nth-child(2) {
  padding-right: 0px;
  padding-left: 5px;
}

@media (min-width:768px){
  .scol h2 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .scol .lead {
    font-size: 11px;
    margin-bottom: 5px;
  }
  .scol > a {
    font-size: 12px;
  }

  .tab-content > .active {
    padding-bottom: 10px;
  }
  .padbottom {
    padding-bottom: 0px;
  }
  .padtop > .active {
    padding-top: 10px;
  }
}

@media (min-width:992px){
  .scol h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .scol .lead {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .scol > a {
    font-size: 16px;
  }
}

@media (min-width:1200px){
  .scol h2 {
    font-size: 20px;
  }
  .scol .lead {
    font-size: 16px;
  }
  .scol > a {
    font-size: 18px;
  }
}



/*
 * Tailer
 */

.masttail {
  margin: 0px;
}

/* .img-sponsor {
  background-color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=90);
  max-width: 100%;
  width:100%;
  margin: auto;
} */

.img-sponsor {
  display: block;
  margin: auto;     /* centers the image horizontally */
  width: auto;
  height: auto;
  opacity: 0.9;
  background-color: #ffffff;
  object-fit: contain;
}

@media (min-width: 768px) {
  .logo-1 {
    padding-left: 0px;
    padding-right: 7.5px;
  }
  .logo-2 {
    padding-left: 2.5px;
    padding-right: 5px;
  }
  .logo-3 {
    padding-left: 5px;
    padding-right: 2.5px;
  }
  .logo-4 {
    padding-left: 7.5px;
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .logo-1 {
    padding-left: 0px;
    padding-right: 3.75px;
  }
  .logo-2 {
    padding-left: 1.25px;
    padding-right: 2.5px;
  }
  .logo-3 {
    padding-left: 2.5px;
    padding-right: 1.25px;
  }
  .logo-4 {
    padding-left: 3.75px;
    padding-right: 0px;
  }
}


/* 
 * Program
 */



.div-sche {
  border: solid 5px rgba(255,255,255,.9);
}

.table-sche {
  width: 100%;
  display: table;
  margin-bottom: 0px;
}

.table-sche > tbody {
  width: 100%;
}

.table-sche > tbody > tr > th,
.table-sche > tbody > tr > td {
  float: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-color: #000;
  width: 16%;
}
.table-sche > tbody > tr > th {
  padding: 0px 5px;
  background-color: rgba(225,225,225,.9);
}
.table-sche > tbody > tr > td {
  padding: 5px;
  background-color: rgba(255,255,255,.9);
}

.table-sche > tbody > tr > td a {
  display: block;
  text-decoration: none;
  color: #000;
}

@media (max-width: 767px) {
  .div-sche .msize {
    font-size: 12px;
  }
}

@media (min-width:768px){
  .table-sche > tbody > tr:first-child > th {
    padding: 15px 5px;
    background-color: rgba(0,0,0,.9);
    color: #fff;
  }
  .div-sche {
    border: solid 10px rgba(255,255,255,.9);
  }
  .div-sche .lead {
    font-size: 16px;
  }
}

@media (min-width:992px){
  .div-sche .lead {
    font-size: 18px;
  }
}

@media (min-width:1200px){
  .div-sche .lead {
    font-size: 21px;
  }
}


.phdr > .lead {
  margin: 10px 0px;
}

.sts:hover,
.sts:focus {
  background-color: rgba(225,225,225,.9);
  cursor: pointer;
}

.panel-group {
  background-color: transparent;
  margin-bottom: 0px;
}

.panel-group .panel-program {
  border-radius: 0px;
  border-style: none;
  background-color: transparent;
}

.panel-program a {
  color: #fff;
  text-decoration: none;

}

.panel-program .panel-title {
  padding: 10px 10px;
  background-color: rgba(0,0,0,.8);
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.panel-group .panel-program+.panel-program {
  margin-top: 0px;
}

.reg-table {
  table-layout: fixed;
  width: 100%;
}

.reg-table .fee-col {
  width: 25%;
  text-align: right;
  white-space: nowrap;
}

.reg-table .reg-col {
  width: 30%;
  text-align: center;
  white-space: nowrap;
}

.reg-table .reg-btn {
  min-width: 110px;
}

.reg-table .section-row td {
  font-weight: bold;
  background: #f6f6f6; /* neutral section bar */
  min-height: auto;
  height: 2.5em;
}
#colorTable.reg-table a.reg-btn.btn-primary {
  background-color: #D4E4A0 !important;
  border-color: #666 !important;
  color: #000000 !important;
  font-weight: bold;
}

#colorTable.reg-table a.reg-btn.btn-primary:hover,
#colorTable.reg-table a.reg-btn.btn-primary:focus {
  background-color: #555 !important;
  border-color: #555 !important;
  color: #fff !important;
}


/* Reuse the same idea: table is 100% width, but allow wrapping */
.dates-table {
  width: 100%;
  max-width: 100%;
  table-layout: auto; /* unlike reg-table fixed layout */
}

.dates-table td,
.dates-table th {
  white-space: normal;      /* critical: allows wrapping */
  overflow-wrap: anywhere;  /* handles long phrases/links */
}

/* Reuse your existing mobile breakpoint style */
@media (max-width: 767px) {
  .table-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.callout {
  margin: 14px 0;
  padding: 14px 16px;
  border-radius: 10px;
  border-left: 5px solid #dcf2ff;
  background: rgba(43, 108, 176, 0.08);
}

.callout p {
  margin: 0 0 10px 0;
}

.callout p:last-child {
  margin-bottom: 0;
}

.callout a {
  font-weight: 600;
  text-decoration: underline;
}

.paper {
  margin: 14px 0;
  padding: 14px 16px;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 10px;
  background: #fff;
}

.paper h5 {
  margin: 0 0 6px 0;
  line-height: 1.25;
}

.paper p {
  margin: 0;
  color: rgba(0,0,0,0.72);
}


.paper:hover {
  border: 1px solid rgba(0,0,0,0.80);
  border-radius: 10px;

}
